.form_area .form_field {
  margin-bottom: 1rem;
}
.form_area .form_field > label,
.form_area .form_field > input {
  display: block;
}
.form_area .form_field input,
.form_area .form_field textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 0;
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.form_area .form_field input:focus,
.form_area .form_field textarea:focus {
  color: #495057;
  background-color: #fff;
  border-color: #b389f9;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(102, 16, 242, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(102, 16, 242, 0.25);
}
.form_area input[type="submit"] {
  padding: 8px 20px;
  color: #fff;
  background-color: #6610f2;
  border-color: #6610f2;
  cursor: pointer;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.form_area input[type="submit"]:hover,
.form_area input[type="submit"]:focus,
.form_area input[type="submit"]:active {
  border-color: #0067d6;
  background: #0067d6;
}
